.homepage h1,
.description h1,
.muffin h1,
.pudding h1 {
    color: black;
}

.homepage,
.cookieheading,
.muffinheading,
.puddingheading {
    text-align: center;
}

.homepage {
    background-color: lightgray;
}

.cookie,
.muffin,
.pudding {
    background-color: rgb(191, 157, 229);
    font-family: cursive;
}

.cookie.description p,
.cookie.ingredients ul,
.cookie.steps ol,
.muffin.description p,
.muffin.ingredients ul,
.muffin.steps ol,
.pudding.description p,
.pudding.ingredients ul,
.pudding.steps ol {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.muffin {
    background-color: rgb(162, 212, 243);
}

.pudding {
    background-color: rgb(186, 241, 186);
}

.cookie.description,
.cookie.ingredients,
.cookie.steps, 
.muffin.description,
.muffin.ingredients,
.muffin.steps,
.pudding.description,
.pudding.ingredients,
.pudding.steps {
    border: hidden;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}

.cookie.description,
.cookie.ingredients,
.cookie.steps {
    background-color: rgb(245, 245, 211);
}

.muffin.description,
.muffin.ingredients,
.muffin.steps {
    background-color: rgb(178, 182, 186);
}

.pudding.description,
.pudding.ingredients,
.pudding.steps {
    background-color: rgb(244, 190, 171);
}

.image1,
.image2,
.image3 {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.4);
    transition: 0.6s;
    z-index: -1;
}

.image1:hover .overlay,
.image2:hover .overlay,
.image3:hover .overlay {
    opacity: 1;
}

.recipe {
    text-align: center;
    font-size: 60px;
    top: 50%;
    left: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: cursive, serif;
}

.adjective {
    text-align: center;
    font-size: 50px;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: cursive, serif;
}